//================================================================================
.header {
  background-color: $primaryColor;
  color: #fff;
  letter-spacing: 1.3px;
  flex: 0 0 auto;
  &__container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
